{% extends '../index.html' %}
{% load static %}

{% block title %}Tous les films{% endblock %}
{% block header %}Liste des films{% endblock %}

{% block content %}
<a class="btn_generic" href="/banque/Film/ajout_film/{{id}}/">Ajouter un enregistrement</a>    
<ul>
    {% for film in liste %}
    <li>
        {{ film.titre }} ({{ film.annee_sortie }}) — {{ film.realisateur }}
        [<a href="/banque/Film/modifier_film/{{ film.id }}/">Modifier</a>]
        [<a href="/banque/Film/supprimer_film/{{ film.id }}/">Supprimer</a>]
        [<a href="/banque/Film/details_film/{{ film.id }}/">Détails</a>]
    </li>
    {% empty %}
    <li>Aucun film trouvé.</li>
    {% endfor %}
</ul>
{% endblock %}
